@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
html{
    height: 100%;
}


body{
    font-family: 'Press Start 2P', cursive;
    background-color: #b3b8fe;
    color: #fff;
}

